<html>
  <head>
    <title>Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <script type="text/javascript" src="/dist/main.bundle.js"></script>
  </head>
  <body>
    <ul class="menu">
      <li>🍽️ menu</li>
      <li><a href="/">today</a></li>
      <li><a href="/next_week">next week</a></li>
    </ul>
  </ul>
    <div class="contentWrapper">
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
