{% extends 'base.html.jinja' %}

{% block content %}
  <h1>{{name}}</h1>

  <h2>Ingredients</h2>
  <ul class="ingredients">
    {% for ingredient in ingredients %}
    <li style="--ingredient-color: {{ingredient.get_color()}};">
      {{ingredient.name|capitalize}}
      {% if ingredient.quantity %}
        ({{ingredient.quantity.amount}} {{ingredient.quantity.unit}})
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <h2>Steps</h2>
  <ol class="steps">
    {% for step in steps %}
      <li>{{step}}</li>
    {% endfor %}
  </ol>
{% endblock %}
