{% extends 'base.html.jinja' %}

{% block content %}
  <h1>{{name}}</h1>

  <h2>Ingredients</h2>
  <ul class="ingredients">
    {% for ingredient in ingredients %}
    <li style="--ingredient-color: {{ingredient.get_color()}};">
      {% if not is_common_ingredient(ingredient.name) %}
        {{ingredient.name|capitalize}}
        {% if ingredient.quantity %}
          ({{ingredient.quantity.amount}}{% if ingredient.quantity.unit %}
            {{ingredient.quantity.unit}}{% endif %})
        {% endif %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <h2>Steps</h2>
  <ol class="steps">
    {% for step in steps %}
      <li>{{colorize_recipe_step(step)}}</li>
    {% endfor %}
  </ol>

  <script src="https://richtr.github.io/NoSleep.js/dist/NoSleep.min.js" />
  <script>
    var noSleep = new NoSleep();
    noSleep.enable();
  </script>
{% endblock %}
